meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
link(rel="stylesheet" href="css/style.css")
script(src="js/jquery.min.js")
script(src="js/owl.carousel.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCErTX_iskE57p73gfN-Zl7sXHEA9OwAdw")
script(src="js/jquery.scrollbar.js")
//- base(href="https://protect-auto.ru/")
script(src="js/main.js")
script(src="js/icons.js" async)
script(async src="js/lazyload.min.js")
script.
	window.lazyLoadOptions = { elements_selector: ".lazy" };
title Protect

script.
	var markers = {
		marker1: {
			position: [40.6700, -73.9400],
			title: 'title',
			id: "#marker1"
		},
		marker2: {
			position: [40.800, -73.80],
			title: 'title 2',
			id: "#marker2"
		},
		marker3: {
			position: [40.700, -73.7],
			title: 'title 3',
			id: "#marker3"
		},
	}

script.
	{
		"@context": "http://schema.org/",
		"@type": "Organization",
		"name": "National Public Radio",
		"url": "http://npr.org",
		"sponsor":
		{
			"@type": "Organization",
			"name": "Protect",
			"logo": "i/logo.svg", // поменять на правильный абсолютный
			"telephone": "+79854691299",
			"email": "examole@mail.ru", // ПОМЕНЯТЬ НА ПРАВИЛЬНЫЙ
			"url": "http://www.example.com/"  // НАДО ПОМЕНЯТЬ НА НУЖНЫЙ
		}
	}