input{
	display: block;
	width: 100%;
	border-radius: 30px;
	background: $white;
	border: 1px solid $lightGray;
	line-height: 40px;
	padding: 9px 25px;
	font-size: 14px;
	margin: 0 0 20px;
	box-shadow: none;
}

.btn{
	outline: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 30px 20px;
	border-radius: 40px;
	background: $mainColor;
	color: $white;
	text-align: center;
	
	// min-width: 220px;
	transition: all .2s ease-in;

	font-size: 14px;
	line-height: 20px;
	padding: 20px 30px;
	min-width: 160px;
	&_white{
		background: $white;
		color: $textColor;
	}
	&_big{
		line-height: 30px;
		padding: 15px 40px;
		font-size: 20px;
	}

	&_center{
		margin: 0 15px 20px;
	}
	&:hover{
		background: $mainColorDarken;
		color: $white;
		text-decoration: none;
	}
}


.check{
	display: block;
	position: relative;
	padding: 0 0 0 32px;
	margin: 0 0 20px;
}

.check__input{
	width: 1px;
	height: 1px;
	clip: rect(0,0,0,0);
	opacity: 0;
	position: absolute;
	&:checked ~ .check__box{
		background: $mainColor;
	}
}


.check__box{
	width: 16px;
	height: 16px;
	border-radius: 4px;
	border: 1px solid $lightGray;
	background: $white;
	display: block;
	left: 0;
	top: 0;
	position: absolute;
	left: 0;
	top: 0;
	border: 2px solid $mainColor;
	transition: all .2s ease-in;
}

.check-text{
	font-size: 14px;
	line-height: 21px;
}



@media screen and (min-width: 1230px){


	.btn{

		&_big{
			line-height: 50px;
			font-size: 36px;
		}

	}


}