.how-to{
	background: $white;
	&_no-transform{
		padding: 30px 0;
		.how-to__content{
			margin-top: 0;
		}
	}
}

.how-to__wrapper{
	padding: 1px 0 15px;
	max-width: 1400px;
	width: calc(100% - 40px);
	margin: 0 auto;
}

.how-to__content{
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 315 72' fill='%23FFF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.41 70.89H0V.2C3.94.2 15.14 0 20.08 0c20.8 0 27.36 11.1 27.36 22.72 0 12.02-8.99 22.92-25.84 22.92-2.12 0-6.16 0-9.19-.3V70.9zM21.3 11.6c-2.53 0-5.56.1-8.89.2v21.72c2.93.3 5.96.5 8.79.5 7.36 0 13.12-3.53 13.12-11.41 0-7.37-4.55-11-13.02-11zM58.44 70.9h11.6v-30.5c1.32-2.62 3.44-4.84 7.47-4.84 2.43 0 3.64.4 5.86 1.71l4.14-10.9c-1.52-1.11-3.34-1.72-7.07-1.72-5.45 0-8.28 2.32-10.4 5.25v-4.44h-11.6v45.44zm32.9-22.72c0-13.63 9.69-23.83 24.73-23.83 15.04 0 24.73 10.2 24.73 23.83 0 13.63-9.7 23.83-24.73 23.83-15.04 0-24.73-10.2-24.73-23.83zm12.41 0c0 7.57 5.25 13.02 12.32 13.02 7.17 0 12.41-5.15 12.41-13.02 0-7.68-5.35-12.93-12.41-12.93-6.86 0-12.31 5.05-12.31 12.93zm46.13 5.45c0 11.61 3.84 18.28 14.13 18.28 5.85 0 10.7-2.22 13.42-4.44l-3.53-9c-1.61 1.22-3.83 2.63-6.96 2.63-3.84 0-5.45-3.23-5.45-8.18V36.35h14.63v-10.9H161.5V12.82h-11.61v40.8zm72.97 4.55l3.33 8.17c-4.54 3.84-11 5.66-17.36 5.66-14.63 0-24.42-9.5-24.42-23.83 0-13.23 9.08-23.83 24.02-23.83 11.7 0 21.5 8.38 21.5 21.1 0 2.83-.2 4.55-.71 6.26h-32.8c1 6.87 6.46 10.6 13.62 10.6 5.56 0 10.2-2.01 12.82-4.13zm-14.94-24.14c-6.96 0-10.7 3.94-11.9 9.9h22.3c.1-5.56-3.74-9.9-10.4-9.9zm65.81 21.61c-2.93 3.23-6.76 5.55-11.7 5.55-6.87 0-13.13-4.94-13.13-13.02 0-7.98 6.16-12.93 12.62-12.93 4.14 0 7.87 1.11 11.3 4.45l5.45-9.2c-4.24-4.23-10.8-6.15-18.27-6.15-13.82 0-23.51 10.6-23.51 23.83 0 14.34 9.89 23.83 24.62 23.83 7.37 0 14.23-2.73 18.07-7.88l-5.45-8.48zm13.73-2.02c0 11.61 3.83 18.28 14.13 18.28 5.85 0 10.7-2.22 13.42-4.44l-3.53-9c-1.62 1.22-3.84 2.63-6.97 2.63-3.83 0-5.45-3.23-5.45-8.18V36.35h14.64v-10.9h-14.64V12.82h-11.6v40.8z'/%3E%3C/svg%3E") no-repeat center 100px, #F7F7FA;
	background-size: 90%;
	margin: -60px 0 0;
	border-radius: 30px;
	padding: 30px;
	position: relative;

	h2{
		&::before{
			content: "";
			display: block;
			margin: 0 auto 8px;
			width: 6px;
			height: 36px;
			background: $mainColor;
			border-radius: 3px;
			transform: rotate(32deg);
		}
	}

}


.how-to__item{
	display: block;
	margin: 0 0 50px;
	text-align: center;
}

.how-to__img-block{
	margin: 0 0 25px;
}

.how-to__item-img{
	position: relative;
	background: $lightGrayBg;
	width: 100%;
	padding-top: 100%;
	border-radius: 30px;
	overflow: hidden;
	img{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.how-to__imprtant-info{
	background: $lightGrayBg;
	border-radius: 30px;
	padding: 20px 20px 1px;

}

@media screen and (min-width: 768px){

	.how-to__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 700px;
		margin: 0 auto 35px;
	}


	.how-to__img-block{
		width: 300px;
		margin: 0;
	}

	.how-to__item-content{
		width: calc(100% - 340px);
	}



}



@media screen and (min-width: 1230px){

	.how-to{

		&_no-desctop-transform{
			padding: 30px 0;
			.how-to__content{
				margin-top: 0;
			}
		}
	}


	.how-to__content{
		margin: -60px 0 0;
		padding: 60px 75px 70px;

	}

	.how-to__title{
		margin-bottom: 60px;
	}




	.how-to__items{
		display: flex;
		justify-content: center;
	}

	.how-to__item{
		display: block;
		justify-content: space-between;
		align-items: center;
		max-width: 370px;
		margin: 0 15px 35px;
	}

	.how-to__img-block{
		width: 100%;
		margin: 0 0 30px;
	}

	.how-to__item-content{
		width: 100%;
	}
	.how-to__imprtant-info{
		border-radius: 60px;
		padding: 25px 30px 5px;
	}
}